{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}

<div>
  <h3>Election Result</h3>
      <ul >
          {% for option in election_result %}
          <li>{{option.name}} --- {{option.rank}}</li>
          {% endfor %}
      </ul>
</div>
{% endblock %}
